/*--------header-----------*/

header{
    position: fixed;
    z-index: 10;
    background-color: var(--white);
    width: 100%;
}

.menu{
    margin-left: 0.7rem;
}

.search{
    margin-right: 0.7rem;
}